Markdown/01/schema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="osoba">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="imie" type="xs:string"/>
      <xs:element name="nazwisko" type="xs:string"/>
      <xs:element name="wiek" type="xs:positiveInteger"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>


<osoba>
    <imie>Jan</imie>
    <nazwisko>Kowalski</nazwisko>
    <wiek>18</wiek>
</osoba>